<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [ ]:
print('Olá Mundo')

Crie uma célua de texto e adicione uma imagem.

<img src='images.jpeg'>

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [7]:
# (A)

qtd_total_vendas = 3
ticket_medio = 320.52

valor_total_vendas = qtd_total_vendas * ticket_medio
a = valor_total_vendas

print(a)

961.56

In [8]:
# (B)
valor_total_vendas = 834.47
ticket_medio = 119.21

qtd_total_vendas = valor_total_vendas / ticket_medio
b = int(qtd_total_vendas)

print(b)

7

In [11]:
# (C)
valor_total_vendas = 15378.12
qtd_total_vendas = 5

ticket_medio = valor_total_vendas / qtd_total_vendas
c = int(ticket_medio)

print(c)

3075

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [19]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
contador = cancao.count('roda')
modificar = cancao.replace('Roda', 'roda')
tem_numero = cancao.isalnum()

print(contador)
print(modificar)
print(tem_numero)

3
roda mundo, roda gigante, roda moinho, roda pião.
False

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [36]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

posicao_selic = noticia.find('%')
print(posicao_selic)
selic = (noticia[posicao_selic - 4 : posicao_selic])
print(f'O valor da taxas selic é {selic} % ' )
print('')
posicao_ano = noticia.find('anos')
print(posicao_ano)
ano = (noticia[posicao_ano - 2])
print(f'{ano} anos')

16
O valor da taxas selic é 2,75 %

64
6 anos

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [37]:
a = False
b = True

x = not a & b

print(f'Se not a = True e b = True, então o valor de x é {x}')

Se not a = True e b = True, então o valor de x é True